body {
    background: #121212;
    font-family: "Inter", sans-serif;
    margin: 0;
    padding-top: 80px;
    /* Adjust the padding-top to accommodate the fixed header height */
}

h1 {
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 60px;
    color: #cccccc;
    text-align: center;
    padding: 40px;
}

header {
    width: 100%;
    background-color: rgba(18, 18, 18, 0.01);
    box-shadow: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    border-style: none;
}

.tabs {
    font-weight: 600;
    font-size: 13px;
    list-style: none;
    padding: 0;
    margin: -60px 0 0 0;
    display: flex;
    justify-content: center;
}

.tabs li {
    margin: 0 10px;
    position: relative;
}

.tabs a {
    color: #cccccc;
    text-decoration: none;
}

.tabs a:hover {
    text-decoration: underline;
}

.tabs li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    padding: 0;
    margin: 0;
    list-style: none;
    min-width: 100px;
}

.tabs li ul li {
    margin: 0;
}

.tabs li ul li a {
    padding: 10px;
    display: block;
    color: #cccccc;
}

.tabs li ul li a:hover {
    background-color: #444;
    text-decoration: none;
}

.tabs li:hover>ul {
    display: block;
}

.portfolio-tab::before {
    content: "ˇ";
    display: inline-block;
    position: absolute;
    bottom: -7px;
    right: -10px;
    color: #cccccc;
    font-size: 15px;
}

 .image-container {
     display: flex;
     flex-wrap: wrap;
     margin-top: 200px;
     margin-left: 80px;
 }

 .image-container>div {
     flex: 1 1 50%;
     /* Adjust to 50% width for 2 images per line */
     box-sizing: border-box;
     padding: 5px;
     /* Add some space between images */
 }

 .image-container img {
     width: 90%;
     height: 90%;
 }

footer {
    background: black;
    padding: 10px 0 10px 30px;
    color: #cccccc;
    position: relative;
    /* Ensure it's relative to the body */
    clear: both;
    /* Clear floats */
}

footer p {
    font-size: 10px;
}


.social-icon {
    color: #cccccc;
    font-size: 6px;
    margin-left: 20px;
}
