body {
    background: #121212;
    font-family: "Inter", sans-serif;
    margin: 0;
    padding-top: 150px;
    /* Adjust the padding-top to accommodate the fixed header height */
}

h1 {
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 60px;
    color: #cccccc;
    text-align: center;
    padding: 40px;
}

header {
    width: 100%;
    background-color: rgba(18, 18, 18, 0.01);
    box-shadow: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 50px -100px 50px;
    border-style: none;
    margin-bottom: 100px;
}

.tabs {
    font-weight: 600;
    font-size: 13px;
    list-style: none;
    padding: 0;
    margin: -60px 0 0 0;
    display: flex;
    justify-content: center;
}

.tabs li {
    margin: 0 10px;
    position: relative;
}

.tabs a {
    color: #cccccc;
    text-decoration: none;
}

.tabs a:hover {
    text-decoration: underline;
}

.tabs li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    padding: 0;
    margin: 0;
    list-style: none;
    min-width: 100px;
}

.tabs li ul li {
    margin: 0;
}

.tabs li ul li a {
    padding: 10px;
    display: block;
    color: #cccccc;
}

.tabs li ul li a:hover {
    background-color: #444;
    text-decoration: none;
}

.tabs li:hover>ul {
    display: block;
}

.portfolio-tab::before {
    content: "ˇ";
    display: inline-block;
    position: absolute;
    bottom: -7px;
    right: -10px;
    color: #cccccc;
    font-size: 15px;
}

.image-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    /* Increase the gap between the images */
    padding: 30px;
    /* Increase padding around the entire image container */
}

.image-container>div {
    width: 100%;
    aspect-ratio: 4 / 6;
    /* Keep the aspect ratio as 4/6 */
    overflow: hidden;
    position: relative;
    padding: 0;
    /* Remove padding inside each grid item */
    margin-top: 50px;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Ensure the full image is shown within the container */
}

footer {
    background: black;
    padding: 13px 0 13px 30px;
    color: #cccccc;
    position: relative;
    /* Ensure it's relative to the body */
    clear: both;
    /* Clear floats */
}

.ig-social-icon,
.fa.fa-envelope,
.fa.fa-whatsapp {
    color: #cccccc;
    margin-left: 10px;
    /* Adjusted margin-left for equal spacing */
    margin-right: 10px;
    /* Adjusted margin-right for equal spacing */
}

.copyright {
    font-size: 12px;
    margin-left: 25px;
}