/* 
.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
} 
*/

/*
.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
*/

/*
// <uniquifier>: Use a unique and descriptive class name

.montserrat-<uniquifier> {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
*/

/*
.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}
*/

/*
.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}
*/

/*
.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}
*/

/*<i class="fa-brands fa-instagram"></i>/*
/*<i class="fa-regular fa-envelope"></i>*/
/*<i class="fa-brands fa-whatsapp"></i>*/
/*<i class="fa-brands fa-facebook-f"></i>*/

.nothando-about {
    max-width: 100%;
    height: auto;
}

.about {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    color: #F65282;
    font-size: 14px;
    margin: 10px 0;
    padding: 10px;
    text-align: left;
}

.about-name {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 52px;
    color: #ffffff;
    margin: 10px 0;
    padding: 10px;
    text-align: left;
}

.about-paragraph {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #ffffff;
    margin: 10px 0;
    padding: 20px;
    text-align: left;
}

.social-icons {
    color: #ffffff;
    margin: 30px 0;
    text-align: left;
}

.social-icons a {
    margin: 0 10px;
}

.camera {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    color: #F65282;
    font-size: 14px;
    margin: 20px 0;
    padding: 10px;
    text-align: left;
}

.camera-model {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    background: #2D2727;
    color: #ffffff;
    padding: 12px 24px;
    width: 60%;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0 0 30px 0;
}

.contact-button {
    margin: 30px 0;
    padding: 10px;
    text-align: left;
}

button {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    border: none;
    background: #ffffff;
    color: #272142;
    border-radius: 16px;
    padding: 14px 28px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

@media (max-width: 768px) {
    .about-name {
        font-size: 36px;
    }

    .about-paragraph {
        font-size: 14px;
    }

    .camera-model {
        width: 80%;
        margin-bottom: 30px;
    }

    .contact-button {
        margin: 20px 0;
    }
}

@media (max-width: 576px) {
    .about {
        font-size: 12px;
    }

    .about-name {
        font-size: 28px;
    }

    .about-paragraph {
        font-size: 12px;
        padding: 10px;
    }

    .social-icons {
        margin: 20px 0;
        text-align: left;
    }

    .social-icons a {
        margin: 0 5px;
    }

    .camera-model {
        padding: 12px 24px;
        width: 90%;
        margin-bottom: 20px;
    }

    .contact-button button {
        padding: 10px 20px;
    }
}

